
body {
   background: #040108;
   font-family: 'Montserrat', sans-serif;
   width: 95%;

}

header {
    width: 100%;
    padding: 20px 0;
}

.caixa{
    width: 100%;
    height: 1em;
    display: inline;
    padding-top: 0;
}

.menu{
    list-style: none;
    text-align: right;
    background: #040108;
    max-width: 100%;
    padding-right: 5em;
}


.menu li{
    
    color: white;
    display: inline;

}

.menu li a{
    padding: 1em;
    font-size: 1em;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-family: Montserrat;
    border: 1px solid white ;

}

.menu li a:hover {
    color: #839deb;
    text-decoration: underline;
}



.contatos {
    display: flex;
    position: fixed;
    list-style: none; 
    background-color: #040108;
    width: 4%;
}

.contatos li{
  padding: 50%;

}

.contatos a img {
    width: 30px;
    height: 30px;
    object-fit: scale-down;
}

.banner-com-infomacao {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin-bottom: 3em;
    margin-top: 5%;
    margin-right: 1em;
    margin-left: 20px;
}

.banner{
    width: 50%;
    padding-left: 60%; 
   max-width: 100%;
}
.apresentacao {
    color: white;
    text-align: left;
    font-size: 2em;
    position: absolute;
    vertical-align: middle;
}
.nome{
    color: blue;
    font-size: 2.5em;
}
.area {
    font-size: 0.8em;

}



.titulo-sobre-mim{
    text-align: center;
    font-size: 2em;
    margin-bottom: 0.5em;
    margin-top: 0;
    clear: left;
}

.sobre-mim {
    padding: 2em 2em 2em 2em;
    background: #FEFEFE;
    width: 100%;
    margin: 0 auto;
    height: auto;
}

.sobre-mim p {
    margin: 0 0 1em;
    padding-top: 2em;
    width: 90%;
    line-height: 1.3em;
}

.foto {
    width: 10%;
    float: left;
    margin: 0px 20px 0px 0;
    padding-top: 0;
    padding-left: 8%;
}

.estudos-titulo {
    font-size: 3em;
    color: #839deb;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.estudos {
    width: 100%;
    margin-right: 0;
    padding: 50px 0;
}

.estudos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid  #839deb ;
    border-radius: 10px;
    color: white;
    line-height: 1.2em;
}

.estudos li h2 {
    font-weight: bold;
    font-size: 1.3em;
}

.estudos li p {
    font-size: 100%;
}
.aprendizado {
    font-weight: bold;
    text-decoration: underline;
}


.botao-certificado {
    color: #FFF;
    position: relative;
    width: 80%;
    height: 30%;
    transition: all .3s;
    border-radius: 1em;
    box-shadow: 2px 2px 5px gray;
    border-color: transparent;
  }

.botao-certificado a {
    font-size: 1.5em;
    text-decoration: none;
    color: navy;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
 
.botao-certificado:hover{
    background-color: #5274da;
    width: 82%;
    font-weight: bold;
    font-size: 0.8em;
}

.projetos-titulo {
    font-size: 3em;
    color: navy;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.projetos {
    width: 100%;
    margin: 0 auto;
    padding: 3em 0;
    background: white;
    transition: all .10s;
    list-style: none;
    
}

.projetos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid  navy ;
    border-radius: 10px;
    color: navy;
}
.projetos a{
    text-decoration: none;
    list-style: none;
}

.projetos li:hover{
    border-color: navy;
    background-color: #c0c8e0;
}



.projetos li:hover h2 {
    font-size: 32px;
}

.projetos h2 {
    font-size: 30px;
    font-weight: bold;
}

.projetos-descricao {
    font-size: 18px;
}

.mais-repositorios{
    background-color: transparent;
    border-color: navy;
    text-align: center;
    font-size: 1em;
    border-radius: 10px;
    display: flex;
    margin-left: 47%;
    margin-top: 5%;
    padding: 0.8em 1em 0.8em 1em;
}

.mais-repositorios:hover {
    font-size: 1.1em;
    font-weight: bold;
  


}    

footer {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    text-align: center;
    color: white;
    font-size: 1em;

}

.botao-para-inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: #040108;
    text-decoration: none;
}
.botao-para-inicio::after {
    content: "↑";
    font-size: 32px;
    font-weight: bold;
    color: aliceblue;
    transition: margin-top 250ms;
}
.botao-para-inicio:hover::after {
    margin-top:-8px;
}
